<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604565245608-mo1ssji24urhj4glcs5kj82fpl125nj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604565245608-mo1ssji24urhj4glcs5kj82fpl125nj0</string>
	<key>API_KEY</key>
	<string>AIzaSyB3i3Tgwk9AFON8K5YqkZxfPEXEo6DhxM0</string>
	<key>GCM_SENDER_ID</key>
	<string>604565245608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GotIt</string>
	<key>PROJECT_ID</key>
	<string>gotit-de21f</string>
	<key>STORAGE_BUCKET</key>
	<string>gotit-de21f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604565245608:ios:21943a015bc76c23c8fc9d</string>
</dict>
</plist>